@font-face {
  font-family: "Sarabun";
  src: url("./src/styles/fonts/Sarabun-Medium.ttf") format("tff");
}

html {
  min-height: 100vh;
}

img {
  height: 160px;
  width: 90px;
}

canvas {
  border: 1px solid black;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #444444;
  margin-top: -1%;
}

canvas img {
  border-radius: 5px;
}

.game-container{
  margin: 0;
  background: radial-gradient(#003B75, #007DC9 ) ;
  min-height: 98vh;
  width: 99vw;
}  

.gioca-briscola {
  font-family: Sabrun, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: red;
}
.rotate-this{
  transform: rotate(90deg);
}