html {
  min-height: 100vh;
  min-width: 100vw;
}

img {
  height: 160px;
  width: 90px;
}

canvas {
  z-index: 0;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #444444;
  margin-top: -1%;
  box-shadow: 25px 25px black;
}

canvas img {
  border-radius: 5px;
}

.game-container{
  margin: 0;
  background: radial-gradient(#13C334,#00980A ) ;
  min-height: 98vh;
  width: 99vw;
}  

.top-container{
  display: flex;
  justify-content: center;

}
.gioca-briscola {
  font-family: 'Arvo', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  color: red;
  background-color: #444444;
  box-shadow: 25px 25px black;
  /* margin-right: 255px; */
}

.gioca-briscola a {
  text-decoration: none;
  color: red
}

#rules-button{
  height: 35px;
  border-radius: 25px;
  outline: none;
  border: 1px solid black;
  background-color: gray;
  font-family: 'Arvo', serif;
}

#rules-button:hover{
  height: 35px;
  border-radius: 25px;
  outline: none;
  border: 1px solid black;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: 'Arvo', serif;
}

.fa-linkedin {
  margin-left: -25px;
}

.fa-github {
  margin-left: 25px;
  margin-right: 25px;
}

.fab{
  color: #CEBF42;
  font-size: 35px;
}

.fab:hover {
  opacity: 70%;
  transition: ease-in;
  transition-duration: .25s;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100vw;
  height: 100vh; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.game-over {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  min-width: 100vw;
  min-height: 100vh; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.game-over-content h1 {
  text-align: center;
  color: red;
  font-size: 80px;
}

.game-over-content h3 {
  text-align: center;
}

.game-over-content button {
  text-align: center;
  font-size: 25px;
  width: 100%;
  height: 50px;
  background-color: red;
}

.game-over-content button:hover {
  text-align: center;
  font-size: 25px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: green;
  background-color: whitesmoke;
}

.game-over-content {
  font-family: 'Arvo', serif;
  font-size: 16px;
  border-radius: 15px;
  background-color: cornsilk;
  position: relative; 
  background-color: white;
  padding: 50px; 
  margin: auto; 
  width: 75%;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.2s;
  animation-name: animatetop;
  animation-duration: 1.2s
}

.modal-content {
  font-family: 'Arvo', serif;
  font-size: 16px;
  border-radius: 15px;
  background-color: cornsilk;
  position: relative; 
  background-color: white;
  padding: 50px; 
  margin: auto; 
  width: 75%;  
  height: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.2s;
  animation-name: animatetop;
  animation-duration: 1.2s
}

.rankings-modal-pic{
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.close-btn {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}

.close-btn:hover {
  color: red;
  cursor: pointer;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

